HEAD

html{
  height: 100%;
}

body{
  background-image: url("file:///C:/Users/elev/Documents/GitHub/Fortnite-webb-by-E-and-T/Fortnite-webb-by-T-and-E/Bilder/wp2366065.jpg");

background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%; 
}






